.section {
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.title {
  font-size: fluid(24, 20);
  font-weight: bold;

  @include mobile-s {
    line-height: 120%;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{rem(343)}, 1fr));
  gap: rem(32);
}
